

<footer class="footer">
    <div class="footer-top">
            <h2 >Explorez les Merveilles du Monde</h2>
    </div>


    <div class="footer-middle">
        <ul class="footer-links">
            <li><a href="#">Hébergements</a></li>
            <li><a href="#">Activités</a></li>
            <li><a href="#">Publier une annonce </a></li>
        </ul>


        <div class="footer-logo">
            <img src="{{ asset('images/Exploréa (1).png') }}" alt="Exploréa Logo">
        </div>

        <div class="footer-links">
            <ul class="footer-links">
                <li><a href="#">A propos</a></li>
                <li><a href="#">S'inscrire</a></li>
                <li><a href="{{ path('terms') }}">Conditions d'Utilisation</a></li>

            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy;2024 Exploréa. All Rights Reserved.</p>
        <p><a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a></p>
    </div>

</footer>