  {% block importmap %}{{ importmap('footer') }}{% endblock %}

<footer>
      <div class="container">
      <h3>Contact</h3>
       <a href="mailto:info@travelunique.com" class="email">info@travelunique.com</a>
       <h3>Company</h3>
       <a href="#">About Us</a>
        <a href="#">Blog</a>
         <h3>Help</h3>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
           <h3>Social Media</h3>
           <a href="#"><img src="icon-facebook.png" alt="Facebook"></a>
           <a href="#"><img src="icon-twitter.png" alt="Twitter"></a>
           <a href="#"><img src="icon-instagram.png" alt="Instagram"></a>
    </div>
</footer>