{% block importmap %}{{ importmap('header') }}{% endblock %}
<header>
    <nav>
        <div class="image">
        <img src="{{ asset('images/logo.png') }}" alt="Logo">
        </div>
        <a >Accueil</a>
        <a>Logements</a>
        <a>Expériences</a>
        <a>Blog</a>
        <a>Annoncer mon hébergement</a>
        <div id="btn">
            <button>Login</button>
            <button>Sign Up</button>
        </div>
    </nav>
</header>
