{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/notification-message.css') }}">
{% endblock %}


<div class="flash-messages">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-message flash-{{ label }}">
                <span>{{ message }}</span>
                <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
            </div>
        {% endfor %}
    {% endfor %}
</div>