
.dashboard-container {
    display: flex;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.sidebar {
    background-color: #2c3e50;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 35px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #1abc9c;
    border-radius: 5px;
}
h1{
    text-align: center;
}
.main-content {
    flex-grow: 1;
    padding: 40px;
    background-color: #ecf0f1;
}

.main-content h1 {
    color: #34495e;
    font-size: 32px;
    margin-bottom: 20px;
    margin-right: 218px;
}

.table-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-container th {
    background-color: #1abc9c;
    color: white;
}

.table-container tr:hover {
    background-color: #f1f1f1;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons button {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-buttons button:hover {
    background-color: #16a085;
}
.dashboard-summary {
    display: grid;
    gap: 40px;
    margin-right: 255px;
    justify-content: center;
    margin-top: 73px;
}

.stat {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat:hover {
    transform: scale(1.05);
}

.stat h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.stat p {
    font-size: 1.2em;
    color: #666;
}

.stat h2, .stat p {
    margin: 0;
}


/* Responsive Design */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .main-content {
        padding: 20px;
    }
}
