{% extends 'base.html.twig' %}

{% block title %}Edit Accommodation{% endblock %}

{% block body %}
    <h1>Edit Accommodation</h1>
    {{ include('administration/admin_accommodations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_accommodation_list') }}">back to list</a>

{% endblock %}
