{% extends 'base.html.twig' %}

{% block title %}New Accommodation{% endblock %}

{% block body %}
    <h1>Create new Accommodation</h1>

    {{ include('administration/admin_accommodations/_form.html.twig') }}

    <a href="{{ path('app_admin_accommodation_list') }}">back to list</a>
{% endblock %}
