
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Admin/new.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    {{ include('administration/admin_user/_form.html.twig') }}
    {% endblock %}
</div>