{% extends 'base.html.twig' %}

{% block title %}Accommodations{% endblock %}
 {% block importmap %}
     {{ importmap('accomodation') }}
     {{ importmap('pagination') }}
 {% endblock %}


{% block body %}

   {#card d'annoces#}
    <div class="card-container">
        {% for accommodation in accommodations %}
            <script src="{{ asset('js/carousel.js') }}"></script>
            {% include '_partials/cardAccomodation.html.twig' %}
        {% endfor %}
    </div>

{# pagination#}
    <div class="pagination-container">
        {{ knp_pagination_render(accommodations) }}
        <a rel="next" href="/accommodation/?page=2"></a>
    </div>

{% endblock %}


