{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Admin/new.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier un Avis </h1>

    {{ include('administration/admin_review/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_review_index') }}">retour à la liste </a>
{% endblock %}
</div>