/*carousel-images*/
.image-gallery {
    position: relative;
    max-width: 100%;
}
.carousel-item {
    width: 100%;
    display: none;
}
.prev , .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    border: none;
    border-radius: 50%;
    font-size: 15px;
}
.prev {
    left: 5px;
}
.next {
    right: 5px;
}
/*fin style carousel*/

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3  card d'annonce par ligne*/
    justify-items: center;
    padding: 0 20px;
    gap: 40px;
}
/* style card annonce*/
.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 325px;
}
/* Accommodation image */
.card img.house1 {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
/*titre*/
.card h4 {
    font-size: 16px;
    color: #333;
    margin: 15px 0;
}
.card .price {
    font-size: 14px;
    margin-bottom: 5px;
    border: none;
    background-color: white;
    font-weight: bold;
    color: #1BBC9B;
}
.card .position {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
/*adresse*/
.card .title-first {
    font-size: 14px;
    color: #666;
    margin-left: 6px;
}
.card .details1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    align-items: flex-end;
}
/*icones*/
.details1 img {
    width: 19px;
    height: 19px;
    margin-right: 6px;
}

/* Description */
.card p {
    font-size: 14px;
    color: #777;
    margin-bottom: 18px;
    text-align: start;
}
.btn-crud{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.btn-show {

    width: 30px;
    height: 28px;
}
.btn-edit {

    width: 25px;
    height: 25px;
}

.btn-delete {
   border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.image-gallery {
    position: relative; /* Pour permettre la superposition de l'icône */
}

.favorite-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

    .favorite-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 30%;
    }
.favoris_title {
    font-size: 26px;
    color: #2b5f94;
    margin-top: 100px;
    margin-left:38%;
    font-family: "Poppins", sans-serif

}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cartes par ligne */
        gap: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cartes par ligne */
        gap: 30px;
    }
    .card {
        width: 80%;
        padding: 20px;
    }
}
@media screen and (max-width: 767px) {
    .card-container {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0 10px;
    }
    .card {
        width: 100%;
        padding: 15px;
    }
    .card img.house1 {
        height: 150px;
    }
    .card h4, .card .price, .card .title-first, .card p {
        font-size: 14px;
    }
}





