/* Style général pour les favoris */
.favoris_title {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

/* Conteneur pour les hébergements */
.card-accommodation {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}

.card-accommodation .card {
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* Conteneur pour les activités */
.card_activity {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 15px;
}

.card_activity.card {
    width: 300px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
