/* Bouton de filtre pour desktop */
.filter-toggle-btn {
    display: none; /* Masqué par défaut */
    background-color: #2b5f94;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

/* Icône de filtre pour mobile et tablette */
.filter-toggle {
    font-size: 16px;
    position: absolute;
    top: 136px;
    right:79px;
    display: flex;
    align-items: center;
    border: 1px solid #d7dbdf;
    padding: 11px ;
    border-radius: 8px;
    margin-bottom: 10px;
}
.filter-toggle1 {
    font-size: 16px;
    position: absolute;
    top: 136px;
    right:63px;
    display: flex;
    align-items: center;
    border: 1px solid #d7dbdf;
    padding: 11px ;
    border-radius: 8px;
    margin-bottom: 10px;
}
.filter-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

/* Modale de filtre */
.filter-Form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Bouton de fermeture de la modale */
.close-icon {
    position: relative;
    left: 190px;
    cursor: pointer;

    font-weight: bold;
}
/* Style général pour la modale de filtre */
.filter-content {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    max-width: 90%;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Titre du formulaire */
.filter-title {
    font-size: 24px;
    font-weight: bold;
    color: #2b5f94;
   font-family: "Poppins", sans-serif;
}

/* Champs de formulaire */
.form-group {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.form-group label,
.price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

/* Champ de saisie et de sélection */
.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus,
.form-group select:focus {
    border-color: #2b5f94;
    box-shadow: 0 0 5px rgba(43, 95, 148, 0.2);
}

/* Style pour la section Prix */
.form-group1 {
    display: flex;
    gap: 10px;
    width: 100%;
}

.form-group1 input[type="number"] {
    flex: 1;
}

/* Boutons */
.btn-primary {
    background-color: #2b5f94;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #17a589;
}

/* Responsive pour tablette et mobile */
@media (max-width: 1024px) {
    .filter-content {
        max-width: 45%;
    }
    .filter-toggle {
        font-size: 16px;
        top: 116px;
        right:29px;
    }
    .filter-toggle1 {
        font-size: 16px;
        top: 135px;
        right:25px;
    }
}
@media (max-width: 768px) {
.filter-content {
    max-width: 68%;
}
    .close-icon {
        left: 130px;
    }
    .filter-icon {
        width: 16px;
        height: 16px;
    }
    .filter-toggle {
        font-size: 13px;
        top: 117px;
        right:93px;
    }
    .filter-toggle1 {
        font-size: 13px;
        top: 152px;
        right:22px;
    }

}
@media screen and (min-width: 1025px) {
    .filter-toggle {
        font-size: 16px;
        top: 126px;
        right: 120px;
    }

    .filter-toggle1 {
        font-size: 16px;
        top: 128px;
        right: 155px;
    }

}