/*style global de mon header */
header {
   background-color: #ffffff;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   height: 100px;
   position: sticky;
   top: 0;
   z-index: 1000;
   width: 100%;
   margin: 0;
   padding: 0;
}

.container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin: 0 auto;
   height: 110px;
}
/*logo de mon application */
.logo img {
   width: 176px;
   height: auto;
   position: absolute;
   left: 0;
   top: -35px;
}
/*barre de navigation principal*/
.navbar ul {
   display: flex;
   gap: 70px;
   padding: 0;
   margin-bottom: 8px;
}

.navbar ul li {
   display: inline-block;
}

.navbar ul li a {
   text-decoration: none;
   font-size: 18px;
   color: black;
   padding: 10px;
   font-family: "Poppins", sans-serif;
}

.navbar ul li a:hover {
   color: #1BBC9B;
   border-bottom: 2px solid #1BBC9B;
}
/* --- Boutons d'authentification (Connexion, Inscription) --- */
.auth-buttons {
   gap: 15px;
   display: flex;
   position: absolute;
   top: 35px;
   right: 33px;
}

.btn {
   background-color: #19659d;
   color: white;
   border: none;
   padding: 9px 12px;
   border-radius: 20px;
   text-decoration: none;
   font-size: 17px;
   font-family: "Poppins", sans-serif;
}

.btn:hover {
   background-color: #1BBC9B;
   transform: translateY(-2px);
}

.logout-icon1 {
   width: 39px;
   height: 39px;
}
/*notification*/
.notification {
   position: absolute;
   top: 36px;
   right: 139px;
}
.badge {
   position: absolute;
   top: 0;
   right: 0;
   padding: 3px 7px;
   border-radius: 50%;
   background-color: red;
   color: white;
   font-size: 11px;
   font-weight: bold;
}

/* Style pour le menu burger */
.menu-burger {
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 37px;
   height: 20px;
   cursor: pointer;
   border: none;
}

.menu-burger span {
   display: block;
   width: 100%;
   height: 3px;
   background-color: #333;
}

/* Media Queries */

/* Tablette (max-width: 1024px) */
@media (max-width: 1024px) {
   .menu-burger {
      display: flex;
      position: absolute;
      right: 24px;
      top: 35px; /* Positionnez le menu burger en haut à droite */
   }

   .navbar {
      display: none; /* Cache la navbar par défaut en version mobile et tablette */
   }

   .navbar.active {
      display: flex; /* Affiche la navbar lorsque la classe active est ajoutée */
      position: absolute;
      top: 100px;
      right: 0;
      width: 24%; /* Largeur ajustée pour mobile */
      background-color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
      flex-direction: column;
      align-items: center;
      height: 315px;
   }

   .navbar ul {
      flex-direction: column;
      align-items: center;
      gap: 24px;
      position: absolute;
      top: 30px;
   }
   .navbar ul li a {
      font-size: 16px;
   }

   .auth-buttons {
      top: 202px;
      flex-direction: column;
      margin-right: 48px;
   }

   .btn {
      border-radius: 5px;
      font-size: 16px;
   }

   .notification {
      position: relative;
      top: 0;
      right: 0;
      margin-top: 10px;
   }
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
   .logo img {
      width: 140px;
      margin-top: 18px;
   }

   .menu-burger {
      background-color: white;
      top: 43px;
      right: 10px;
   }

   .navbar.active {
      width: 46%; /* Largeur ajustée pour mobile */
   }

   .navbar ul li a {
      font-size: 14px;
   }

   .btn {
      padding: 5px;
      font-size: 14px;
      border-radius: 3px;
   }

   .logout-icon1 {
      width: 25px;
      height: 25px;
   }

   .badge {
      top: -3px;
      right: -3px;
      padding: 2px 6px;
      font-size: 10px;
   }

   .auth-buttons {
      top: 175px;
     right:42px;

   }
}

