
table {
    border-collapse: collapse;
    font-family: "Poppins", sans-serif;
    margin-left: 100px;
   position: relative;
    top: 84px;
}
.table_notif{
    width: 74%;
    margin-left: 73px;
}
h1{
    font-family: "Poppins", sans-serif;
    color: #2b5f94;
    margin: 40px 0;
    font-size: 29px;
    font-weight: bold;
    position: relative;
    top: 73px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

table th {
    background-color: #2b5f94;
    font-weight: bold;
    color: white;
}
p{
    text-align: left;
   margin: 138px 0;
}

. {
    padding: 8px 12px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}
._reserv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.-success{
    background-color: #1BBC9B;
}
.-danger{
    background-color: #e74c3c;
}
.review-icon {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

/* Responsive styles */

/* Tablette (max-width: 1024px) */
@media (max-width: 1024px) {
    table {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 24px;
        margin-top: 20px;
    }

    . {
        font-size: 13px;
        padding: 6px 10px;
    }

    .review-icon {
        width: 25px;
        height: 25px;
    }
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
    .table, .table thead, .table tbody, .table th, .table td, .table tr {
        display: block;
        width: 93%;
    }

    .table thead {
        display: none; /* Cache les en-têtes */
    }

    .table tr {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .table td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 14px;
    }

    .table td::before {
        content: attr(data-label); /* Utilise data-label comme étiquette */
        font-weight: bold;
        color: #2b5f94;
        width: 50%;
        display: inline-block;
    }
}