
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #f4f4f4;*/
}

.form-container {
    width: 530px;
    margin-top: 85px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    }

 h2 {
    text-align: center;
    font-size: 27px;
     padding-top: 12px;
    font-family: 'Lemonada', cursive;
    color: #1BBC9B;
}


.form-group{
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
}

 label {
    font-weight: bold;
     font-size: 15px;
     font-family: "Poppins", sans-serif;
}

.form-control {
    width: 375px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 20px;
    padding: 15px;
}

.form-control:focus
{
    border: 2px solid #007BFF;
    outline: none;
}

/* Submit Button */
.bt{
    text-align: center;
}
 .btn {
    padding: 10px 20px;
    background-color: #1BBC9B;;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #007BFF;
}


 .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
