/* Style spécifique à la page de publication de formulaire  */

.container_publish {
    max-width: 760px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 26px;
    color: #2b5f94;
    margin-bottom: 30px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.button-group button {
    background-color: #1BBC9B;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #139178;
}

.form-container {
    display: none; /* Les formulaires seront cachés par défaut */
}


