body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    max-width: 910px;
    height: 825px;
}

.authentif-form {
    padding: 15px;
    position: relative;
    flex: 1;
    margin-left: 60px;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    margin-right:100px;
    margin-bottom: 31px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}
label {
    display: block;
    margin-bottom: 9px;
}
input{
    width:255px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
}

input:focus {
    border-color: #1BBC9B;
    outline: none;
    box-shadow: 0 0 5px rgba(27, 188, 155, 0.5);
}

.btn {
    width:32%;
    padding: 12px;
    background-color:#1BBC9B;;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 17px;
    left: 107px;
}

.btn:hover {
    background-color: #16a085;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 12px;
}

.illustration {
    background-color: #1BBC9B;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: white;
}

.illustration img {
    max-width: 100%;
}

.img-register {
    margin-right: 10px;
}
.password-container {
    position: relative;
    display: inline-block;
}

.eye-icon {
    position: absolute;
    right: 102px;
    top: 21%;
    cursor: pointer;
}
.required-symbol {
    position: absolute;
    color: red;
}
.gender-choice {
    display: flex;
    margin-top: 10px;
    align-items: baseline;
    margin-left: -9px;
    gap: 11px;
}

/* Style pour chaque bouton radio */
.gender-choice input[type="radio"] {
    width: 20px;
    margin-top: 10px;
}
.agree-terms-checkbox {
    width: 20px;
}
/* Style pour le conteneur global */
.agree-terms-row {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .illustration {
        display: none;
    }
    .btn {
        font-size: 14px;
        left: 83px;
    }
    .eye-icon {
        right: 43px;

    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        max-width: 100%;
    }

    .btn {
        font-size: 15px;
        left: 81px;
    }
}
