body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    max-width: 910px;
    height: 848px;
}

.authentif-form {
    padding: 20px;
    margin-left: 60px;
    position: relative;
    flex: 1;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    margin-top: 10px;
    margin-right: 118px;
    margin-bottom: 31px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}
.form-group3{
    display: flex;
    flex-direction: column;
    top: 7px;
    position: relative;
}
.form-group1 label {
    padding: 6px;
}
.form-group1{
    display: flex;
    flex-direction: column;
    bottom:10px;
    position: relative;
}
.form-group3 label {
    padding: 6px;
}
.choice-container input[type="radio"] {
    position: absolute;
    left: 89px;
    margin-top: 10px;
}
.form-group2{
    display: flex;
    top: 5px;
    position: relative;
    left: 3px;
}

label {
    display: block;
    margin-bottom: 9px;
}
input{
    width:215px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
}

input:focus {
    border-color: #1BBC9B;
    outline: none;
    box-shadow: 0 0 5px rgba(27, 188, 155, 0.5);
}

.btn {
    width:32%;
    padding: 12px;
    background-color:#1BBC9B;;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 16px;
    left: 60px;
}

.btn:hover {
    background-color: #16a085;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

.illustration {
    background-color: #1BBC9B;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: white;
}

.illustration img {
    max-width: 100%;
}

.img-register {
    margin-right: 10px;
}
.password-container {
    position: relative;
    display: inline-block;
}

.password-container .form-control {
    padding-right: 30px; /* espace pour l'icône */
}

.eye-icon {
    position: absolute;
    right: 115px;
    top: 27%;
    cursor: pointer;
}
.required-symbol {
    position: absolute;
    color: red;
}


/* Responsive */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 640px;
    }

    .illustration {
        display: none;
    }
    .btn {
        font-size: 14px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        max-width: 100%;
    }

    .btn {
        font-size: 15px;
        left: 75px;
    }
}
