/* Styles pour la table des hébergements */
.table {
    width: 50%;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: 129px;
    right: 262px;
}
h1 {
    font-family: "Poppins", sans-serif;
    color: #2b5f94;
    font-size: 29px;
    font-weight: bold;
    position: relative;
    top:86px;
    left: 121px;
}

.btn_crud ,.crud{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.table th,
.table td {
    padding: 9px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.table th {
    background-color: #2b5f94;
    color: white;
    font-weight: bold;
}

.table td {
    background-color: #fff;
    color: #333;
}

/* Boutons d'action */
.btn-action {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
}

.btn-show {
    background-color: #1BBC9B;
}

.btn-edit {
    background-color: #2b5f94;
}

.btn-delete {
    background-color: #e74c3c;
    border: none;
    cursor: pointer;
}

/* Responsive styles */

/* Tablette (max-width: 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
    .table {
        width: 100%;
        left: 0;
    }

    h1 {
        font-size: 24px;
        top: 80px;
        left: 0;
    }
    ._crud {
      flex-wrap: wrap;
        justify-content: flex-start;
    }

    .-delete{
        width: 74px;
    }

}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
    .table {
        font-size: 12px;
        left: 0;
        top: 11px;
        width: 100%;
    }
    .table1{
        width: 101px;
    }

    h1 {
        font-size: 20px;
        left:5px;
        top: 0px;
    }
    .-show, .-edit {
        width: 62px;
        font-size: 12px;
    }
    .-delete{
        font-size: 12px;
        width: 74px;
    }

    ._crud ,.-action{
        flex-direction: column;
        align-items: center;
        padding: 3px 5px ;
    }
    .table tr:nth-child(2),
    .table tr:nth-child(3) {
        display: none;
    }
}


