{% extends 'base.html.twig' %}
{% block meta_description %}
    Consultez vos hébergements et activités favoris sur Exploréa. Gardez une trace de vos coups de cœur pour préparer votre prochain voyage en toute simplicité.
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/cardActivity.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/cardAccomodation.css') }}">
{% endblock %}
{% block title %}Mes Favoris{% endblock %}

{% block body %}


    {# Section Hébergements Favoris #}
    <h2 class="favoris_title">Hébergements Favoris</h2>
    {% if accommodations|length > 0 %}
        <div class="card-container">
            {% for accommodation in accommodations %}
                {% include '_partials/cardAccomodation.html.twig' %}
            {% endfor %}
        </div>
    {% else %}
        <p>Vous n'avez pas encore ajouté d'hébergements à vos favoris.</p>
    {% endif %}

    {#Section Activités Favorites #}
    <h2 class="favoris_title">Activités Favorites</h2>
    {% if activities|length > 0 %}
        <div class="container_activity">
            {% for activity in activities %}
                {% include '_partials/cardActivity.html.twig' %}
            {% endfor %}
        </div>

    {% else %}
        <p>Vous n'avez pas encore ajouté d'activités à vos favoris.</p>
    {% endif %}
{% endblock %}
{% block footer %}
{% endblock %}
{#inclusion de script pour caroussel pour les card d'hebergements#}
{% block javascripts %}
    <script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}

